* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
  text-decoration: none;
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  height: 100vh;
}

.header {
  width: 100%;
  height: 80px;
  background-color: rgba(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo a img {
  width: 200px;
}

.hidden-models,
.hidden-carousel {
  display: none;
}

.models {
  position: relative;
}

.main {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-image: url(/img/background-img.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.75); */
}

/* .background-transparent {
    position: absolute;
    height: 100%;
    opacity: .5;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .75);
} */

.main-content {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 30px;
  padding: 50px 20px;
}

/* Carousel */

.carousel-overlay {
  width: 100%;
  height: auto;
  position: relative;
}

.overlay-carousel {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.75);
}

.carousel-container {
  width: 100%;
  height: 700px;
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
}

.carousel-container img {
  width: 100%;
  height: 100%;
}

.carousel-info {
  width: 50%;
  height: 100%;
  padding: 70px 50px;
  z-index: 1;
}

.carousel-info * {
  color: white;
}

.carousel-info-filmes {
  width: 100%;
  height: auto;
}

.carousel-info-filmes h1 {
  font-size: 2.5rem;
}

.carousel-imgEtaria {
  width: auto;
  padding-right: 10px;
}

.carousel-category-duration {
  display: flex;
  align-items: center;
  padding: 20px 0;
}

.carousel-category {
  padding-right: 20px;
}

.material-symbols-outlined {
  padding-right: 5px;
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 20;
}

.carousel-synopsis {
  font-size: 1rem;
  text-align: justify;
}

.carousel-filme {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-buttons {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-evenly;
}

.carousel-buttons {
  padding: 50px 5px 5px 5px;
}

.carousel-buttons a {
  background-color: #fff;
  color: black;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 1rem;
  transition: ease-in-out .2s;
}

.carousel-buttons a:hover {
  color: white;
  background-color: #303030;
}


#slider {
  position: relative;
  width: 300px;
  height: 450px;
  transform-style: preserve-3d;
  font-family: Arial, Helvetica, sans-serif;
  perspective: 1400px;
}

input[type="radio"] {
  position: relative;
  top: 108%;
  left: 50%;
  width: 18px;
  height: 18px;
  margin: 0 15px 0 0;
  transform: translateX(-83px);
  cursor: pointer;
  opacity: 0.4;
}

input[type="radio"]:nth-child(5) {
  margin-right: 0;
}

input[type="radio"]:checked {
  opacity: 1;
}

#slider label,
#slider label img {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 3px;
  color: white;
  font-size: 70px;
  font-weight: bold;
  cursor: pointer;
  transition: transform 400ms ease;
}

#s1:checked ~ #slide1,
#s2:checked ~ #slide2,
#s3:checked ~ #slide3,
#s4:checked ~ #slide4,
#s5:checked ~ #slide5 {
  transform: translate3d(0%, 0, 0px);
  box-shadow: 0 13px 26px rgba(0, 0, 0, 0.3), 0 12px 6px rgba(0, 0, 0, 0.2);
}

#s1:checked ~ #slide2,
#s2:checked ~ #slide3,
#s3:checked ~ #slide4,
#s4:checked ~ #slide5,
#s5:checked ~ #slide1 {
  transform: translate3d(20%, 0, -100px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3), 0 2px 2px rgba(0, 0, 0, 0.2);
}

#s1:checked ~ #slide5,
#s2:checked ~ #slide1,
#s3:checked ~ #slide2,
#s4:checked ~ #slide3,
#s5:checked ~ #slide4 {
  transform: translate3d(-20%, 0, -100px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3), 0 2px 2px rgba(0, 0, 0, 0.2);
}

#s1:checked ~ #slide3,
#s2:checked ~ #slide4,
#s3:checked ~ #slide5,
#s4:checked ~ #slide1,
#s5:checked ~ #slide2 {
  transform: translate3d(40%, 0, -250px);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
}

#s1:checked ~ #slide4,
#s2:checked ~ #slide5,
#s3:checked ~ #slide1,
#s4:checked ~ #slide2,
#s5:checked ~ #slide3 {
  transform: translate3d(-40%, 0, -250px);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
}

.modelo-filme {
  width: 200px;
  height: 300px;
  background-color: black;
  transition: ease-in-out 0.3s;
  cursor: pointer;
  box-shadow: 0 13px 26px rgba(0, 0, 0, 0.3), 0 12px 6px rgba(0, 0, 0, 0.2);
}

.modelo-filme img {
  width: 100%;
  height: 100%;
}

/* .link-filme {
    cursor: pointer;
} */

.modelo-filme:hover {
  transform: scale(1.1);
}

.hidden-modelo-filme {
  width: 200px;
  height: 300px;
  background-color: rgba(255, 255, 255, .75);
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: ease-in-out 0.3s;
  box-shadow: 0 13px 26px rgba(0, 0, 0, 0.3), 0 12px 6px rgba(0, 0, 0, 0.2);
}

.hide-modelo-filme-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;}

.hide-modelo-filme-container * {
  color: rgb(0, 0, 0);
}

.hide-modelo-filme-info {
  width: 100%;
  height: auto;
}

.hide-modelo-filme-info h1 {
  font-size: 1.1rem;
  font-weight: bolder;
}

.category-duration {
  display: flex;
  justify-content: space-between;
  padding: 6px 0;
  font-size: 0.8rem;
}

.synopsis {
  max-height: 130px;
  overflow: hidden;
  font-size: 0.8rem;
}

#btnTrailer {
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #303030;
  font-size: .9rem;
  transition: ease-in-out .2s;
}

#btnTrailer:hover {
  color: white;
  background-color: #303030;
}

.models:hover .modelo-filme.translate {
  transform: scale(1.1) translateX(-50%);
}

.models:hover .hidden-modelo-filme.translate {
  opacity: 1;
  visibility: visible;
  transform: scale(1.1) translateX(50%);
}

.overlay {
  display: none;
  position: fixed;
  z-index: 99999;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.button-back * {
  padding: 0;
}

.button-back {
  position: absolute;
  top: 20px;
  left: 20px;
}

#btnBack {
  background-color: rgba(255, 255, 255, 0.75);
  padding: 10px;
  color: white;
  border: 0;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-trailer {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-trailer-container {
  display: flex;
  width: 900px;
  height: 450px;
  background-color: rgba(255, 255, 255, 0.75);
}

.card-trailer-poster {
  width: 300px;
  height: 100%;
}

.card-trailer-info {
  width: 600px;
  padding: 20px;
}

.card-category-duration {
  display: flex;
  align-items: center;
  padding: 15px 0;
}

.card-category {
  padding-right: 20px;
}

.card-carousel-imgEtaria {
  width: auto;
  padding-right: 10px;
}

.card-synopsis {
  text-align: justify;
}

.card-trailer-poster img {
  width: 100%;
  height: 100%;
}

.card-info-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-buttons {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-evenly;
}

.card-buttons {
  padding: 25px;
}

.card-buttons a {
  padding: 10px 15px;
  border-radius: 5px;
  border: 1px solid #303030;
  font-size: 1rem;
  transition: ease-in-out .2s;
}

.card-buttons a:hover {
  color: white;
  background-color: #303030;
}

.filmes-div {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 30px;
}

.filmes-div div {
  width: 200px;
  height: 300px;
}

.filmes-div div img {
  width: 100%;
  height: auto;
}

.search-area {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 0 0 0;
}

.search {
  width: 300px;
  border-radius: 60px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 8px 0;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.search input {
  padding: 10px 70px 10px 5px;
  border: 0;
  outline: none;
  font-size: .8rem;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
